.btn{
    background-color: #74FAC0;
    color: #01091C;
    font-family: 'Inter';
    font-weight: bold;
    width: 250px;
    height: 45px;
    font-size: 15px;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
    transition-duration: 0.5s;
}
.btn:hover{
    translate: 0px -8px;
    background-color: #01091C;
    color: aliceblue;
    transition-duration: 0.5s;
}